*{
    margin: 0;
    padding: 0;
}
.clearclearfix:after{
    content: "";
    display: block;
    clear: both;
}
#sideBar{
    position: absolute;
    width: 178px;
    height: 350px;
    background: #fff;
    /*border: 1px solid red;*/
    left:-150px;
    top:360px;
}

#sideBar .hide2{
    width: 150px;
    height: 350px;
    border-radius: 5px;
    background:darkgray;
    color: white;
    float: left;
    text-align:center;
}

#sideBar .hide2 a{
    color: white;
    text-decoration: none;
}
.head{
    height: 40px;
    margin-top: 20px;
    letter-spacing:3px;
}
ul li{
    cursor: pointer;
    margin-bottom: 4px;
    letter-spacing:2px;
    height: 40px;
    font-size: 20px;
}




li:hover{
    background-color: grey;
}

#sideBar .show{
    float: right;
    width: 27px;
    height: 70px;
    background:darkgray;
    border: 1px solid gainsboro;
    color: white;
    text-align:center;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 120px;
}
.container-main{
    position: relative;
    left: 200px;
}