.nav{
    width: 100%;
    height: 90px;
    line-height:90px;
    box-shadow:0 5px 10px gainsboro;

}h2{
    font-size: 30px;
    display: inline-block;
    margin-left: 30px;
 }
 .nav a:hover{
     color:palevioletred;
 }
 .jump{
     margin-left: 50px;
     font-size:20px ;
     color: #000;

 }

.r_nav{
    float: right;
    margin-right: 30px;

}
.search{
    border-radius: 15px;
    border-color: #f0f0f0;
    width: 250px;
    height: 35px;
}
.button{
    border-radius: 15px;
    border-color: #f0f0f0;
    width: 65px;
    height: 35px;
    background-color: palevioletred;
    color: #f0f0f0;
    letter-spacing: 3px;
    font-size: 15px;

}


.table{
    margin-top: 20px;
    font-size: 17px;
    border-collapse:separate;
    border-spacing:15px 30px;

}
.table1
{
    border-collapse:separate;
    border-spacing:15px 30px;
    margin:0 auto ;
}




