<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>栏目管理</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}" href="../../static/css/reset.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/columnManage.css}" href="../../static/css/columnManage.css">
</head>
<body>
<div class="nav">
    <a th:href="@{/competition}" class="jump">文章管理</a>
    <a th:href="@{/dict}" class="jump">数据字典</a>
    <a th:href="@{/manager}" class="jump">用户管理</a>
    <a th:href="@{/resourceStore}" class="jump">资源存储</a>
    <a th:href="@{/category}" href="columnManage.html" class="jump">栏目管理</a>
</div>

<div class="table">
    <table class="table1" id="mytable">
        <thead>
        <tr>
            <th>id</th>
            <th>名称</th>
            <th>状态</th>
            <th>父id</th>
            <th>编辑</th>
            <th>删除</th>
            <th><a name="popBox" style="cursor:pointer;" onclick="popBox2()">添加</a></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category:${categorys}">
            <td th:text="${category.id}">id</td>
            <td th:text="${category.name}">名称</td>
            <td th:text="${category.status.desc}">状态</td>
            <td th:text="${category.fid}">父id</td>
            <td><a  name="popBox" style="cursor:pointer;" onclick="popBox();modify(this)">编辑</a>|<a th:href="@{/category/forbid(id=${category.id})}" th:text="(${category.status.value()}=='1')?'禁用':'启用'">状态</a></td>
            <td><a th:href="@{/category/delete(id=${category.id})}">删除</a></td>
            <td th:if="${category.status.value()}=='1'"><a th:if="${category.fid}==0" name="popBox" style="cursor:pointer;" onclick="popBox1();modify1(this)">添加</a><a th:if="${category.fid}!=0" th:href="@{/competition/create(rankId=${category.id})}">添加竞赛</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div id="popLayer">

</div>

<div class="outside" id="popBox">
    <div class="close">
        <a href="javascript:void(0)" onclick="closeBox()">关闭</a>
    </div>
    <div class="tips">
        栏目管理编辑
    </div>
    <form  th:method="post" th:action="@{/category/update}">
        <table class="infor">
            <tr>
                <td><label for="id">栏目id：</label></td>
                <td><input type="text" readonly="readonly" name="id" th:value="*{id}" id="id" class="border"></td>
            </tr>
            <tr>
                <td><label for="name">名称：</label></td>
                <td><input  type="text"  th:value="*{name}"  name="name"  id="name" class="border"/></td>
            </tr>
            <tr>
                <td><label for="fid">父id：</label></td>
                <td><input type="text" readonly="readonly" name="fid" th:value="*{fid}" id="ffid" class="border"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="更新"  class="submit" id=""  onclick="update();closeBox()" /></td>
            </tr>
        </table>

    </form>
</div>

<!-- 添加-->
<div class="outside" id="popBox2">
    <div class="close">
        <a href="javascript:void(0)" onclick="closeBox2()">关闭</a>
    </div>
    <div class="tips">
        第一级栏目管理添加
    </div>
    <form th:action="@{/category/create}" method="post">
        <table class="infor">
            <tr>
                <td><label >名称：</label></td>
                <td><input  type="text"  name="name"  class="border"/></td>
            </tr>
            <tr>
                <td><label for="fid">父id：</label></td>
                <td><input type="text" readonly="readonly" th:value="0" name="fid" class="border"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" name="" value="提交" class="submit" /></td>
            </tr>
        </table>
    </form>
</div>

<!-- 添加-->
<div class="outside" id="popBox1">
    <div class="close">
        <a href="javascript:void(0)" onclick="closeBox1()">关闭</a>
    </div>
    <div class="tips">
        第二级栏目管理添加
    </div>
    <form th:action="@{/category/create}" method="post">
        <table class="infor">
            <tr>
                <td><label >名称：</label></td>
                <td><input  type="text"  name="name"  class="border"/></td>
            </tr>
            <tr>
                <td><label for="fid">父id：</label></td>
                <td><input type="text" readonly="readonly" th:value="*{id}" name="fid" id="fid" class="border"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" name="" value="提交" class="submit" /></td>
            </tr>
        </table>

    </form>
</div>

<script th:inline="javascript">
    /*点击弹出按钮*/
    function popBox() {
        var popBox = document.getElementById("popBox");
        var popLayer = document.getElementById("popLayer");
        popBox.style.display = "block";
        popLayer.style.display = "block";
    };

    /*点击关闭按钮*/
    function closeBox() {
        var popBox = document.getElementById("popBox");
        var popLayer = document.getElementById("popLayer");
        popBox.style.display = "none";
        popLayer.style.display = "none";
    }

    function popBox2() {
        var popBox = document.getElementById("popBox2");
        var popLayer = document.getElementById("popLayer");
        popBox.style.display = "block";
        popLayer.style.display = "block";
    }

    function closeBox2() {
        var popBox = document.getElementById("popBox2");
        var popLayer = document.getElementById("popLayer");
        popBox.style.display = "none";
        popLayer.style.display = "none";
    }
    function popBox1() {
        var popBox = document.getElementById("popBox1");
        var popLayer = document.getElementById("popLayer");
        popBox.style.display = "block";
        popLayer.style.display = "block";
    }
    function closeBox1() {
        var popBox = document.getElementById("popBox1");
        var popLayer = document.getElementById("popLayer");
        popBox.style.display = "none";
        popLayer.style.display = "none";
    }
    /*添加传输数据到pop*/
    function modify1(obj){
        var oFid = document.getElementById('fid');
        var oTr = obj.parentNode.parentNode;
        var aTd = oTr.getElementsByTagName('td');
        rowIndex = obj.parentNode.parentNode.rowIndex;
        oFid.value = aTd[0].innerHTML;
        console.log(aTd[1].innerHTML);
        //alert(i);
    }
    /*编辑传输数据到pop*/
    function modify(obj){
        var oId = document.getElementById('id');
        var oName= document.getElementById('name');
        var oFid = document.getElementById('ffid');
        var oTr = obj.parentNode.parentNode;
        var aTd = oTr.getElementsByTagName('td');
        rowIndex = obj.parentNode.parentNode.rowIndex;
        oId.value = aTd[0].innerHTML;
        oName.value = aTd[1].innerHTML;
        oFid.value = aTd[3].innerHTML;
        console.log(aTd[1].innerHTML);
        //alert(i);
    }
    //更新功能
    function update(){
        var oId = document.getElementById('id');
        var oName= document.getElementById('name');
        var oFid = document.getElementById('ffid');
        var oMytable = document.getElementById('mytable');
        //alert(rowIndex);
        //var aTd = rowIndex.cells;
        console.log(oMytable.rows[rowIndex].cells)
        oMytable.rows[rowIndex].cells[0].innerHTML = oId.value;
        oMytable.rows[rowIndex].cells[1].innerHTML = oName.value;
        oMytable.rows[rowIndex].cells[3].innerHTML = oFid.value;
    }
</script>


</body>
</html>