<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>数据字典</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}" href="../../static/css/reset.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/userManagePage.css}" href="../../static/css/userManagePage.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/userEdit.css}"href="../../static/css/userEdit.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/dictpop.css}"href="../../static/css/dictpop.css">

</head>

<body>

<div class="nav">
    <h2>数据字典</h2>
    <a href="userManagePage.html" class="jump">用户管理</a>
    <a href="resourceStore.html" class="jump">资源存储</a>
    <a href="articleManage.html" class="jump">文章管理</a>
    <a href="columnManage.html" class="jump">栏目管理</a>
    <
    <div class="r_nav">
        <form th:action="@{/dict/search}"  method="post" >
            <input type="text" placeholder="请输入类型" name="type" class="search">
            <input type="submit" value="搜索" class="button" >
        </form>
    </div>

</div>


<div class="table">
    <table class="table1" id="mytable">
        <thead><tr>
            <th>序号</th>
            <th>字典名称</th>
            <th>属性编码</th>
            <th>属性名称</th>
            <th>属性排序</th>
            <th>属性状态</th>
            <th>管理</th>
        <th><a  name="popBox" style="cursor:pointer;" onclick="popBox1()">添加</a></th></tr>
        </thead>
        <tbody>
        <tr th:each="dict,iterStat:${dicts}">
            <td th:text="${iterStat.count}">1</td>
            <td th:text="${dict.type}">2</td>
            <td th:text="${dict.code}">3</td>
            <td th:text="${dict.name}">4</td>
            <td th:text="${dict.sort}">5</td>
            <td th:text="${dict.status.desc}">6</td>
            <td> <a th:href="@{/dict/forbid(id=${dict.dictId})}" th:text="(${dict.status.value()}=='1')?'禁用':'启用'">7</a> |  <a name="popBox" onclick="popBox();modify(this)">编辑</a>
            </td>
            <td><a th:href="@{/dict/delete(id=${dict.dictId})}" class="cla_delete">删除</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div id="popLayer">

</div>

<div class="outside" id="popBox">
    <div class="close">
        <a href="javascript:void(0)" onclick="closeBox()">关闭</a>
    </div>
    <div class="tips">
        数据字典编辑
    </div>
    <form th:method="post" th:action="@{/dict/update}" >
        <table class="infor">
            <tr>
                <td><label for="dictId">字典id：</label></td>
                <td><input type="text" name="dictId" th:value="*{dictId}" id="dictId" class="border"></td>
            </tr>
            <tr>
                <td><label for="type">字典名称：</label></td>
                <td><input type="text" name="type" th:value="*{type}" id="type" class="border"></td>
            </tr>
            <tr>
                <td><label for="code">属性编码：</label></td>
                <td><input  type="text" name="code" th:value="*{code}" id="code" class="border"/></td>
            </tr>
            <tr>
                <td><label for="name">属性名称：</label></td>
                <td><input  type="text"  th:value="*{name}"  name="name"  id="name" class="border"/></td>
            </tr>
            <tr >
                <td><label for="sort">属性排序：</label></td>
                <td><input  type="text"  name="sort"  th:value="*{sort}" id="sort" class="border"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="更新"  class="submit" id=""  onclick="update();closeBox()" /></td>
            </tr>

        </table>

    </form>



</div>


<div class="outside" id="popBox1">
    <div class="close">
        <a href="javascript:void(0)" onclick="closeBox1()">关闭</a>
    </div>
    <div class="tips">
        数据字典添加
    </div>
    <form th:method="post" th:action="@{/dict/create}" >
        <table class="infor">
            <tr>
                <td><label >字典名称：</label></td>
                <td><input type="text" name="type"  class="border"></td>
            </tr>
            <tr>
                <td><label >属性编码：</label></td>
                <td><input  type="text" name="code"  class="border"/></td>
            </tr>
            <tr>
                <td><label >属性名称：</label></td>
                <td><input  type="text"   name="name"   class="border"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" name="" value="提交" class="submit" /></td>
            </tr>
        </table>

    </form>



</div>

<script th:inline="javascript">
    /*点击弹出按钮*/
    function popBox() {
        var popBox = document.getElementById("popBox");
        var popLayer = document.getElementById("popLayer");
        popBox.style.display = "block";
        popLayer.style.display = "block";
    };

    /*点击关闭按钮*/
    function closeBox() {
        var popBox = document.getElementById("popBox");
        var popLayer = document.getElementById("popLayer");
        popBox.style.display = "none";
        popLayer.style.display = "none";
    }
    function popBox1() {
        var popBox = document.getElementById("popBox1");
        var popLayer = document.getElementById("popLayer");
        popBox.style.display = "block";
        popLayer.style.display = "block";
    }

    function closeBox1() {
        var popBox = document.getElementById("popBox1");
        var popLayer = document.getElementById("popLayer");
        popBox.style.display = "none";
        popLayer.style.display = "none";
    }

    /*编辑传输数据到pop*/
    function modify(obj){
        var oDictId = document.getElementById('dictId');
        var oType = document.getElementById('type');
        var oCode = document.getElementById('code');
        var oName= document.getElementById('name');
        var oSort = document.getElementById('sort');
        var oTr = obj.parentNode.parentNode;
        var aTd = oTr.getElementsByTagName('td');
        rowIndex = obj.parentNode.parentNode.rowIndex;
        oDictId.value = aTd[0].innerHTML;
        oType.value = aTd[1].innerHTML;
        oCode.value = aTd[2].innerHTML;
        oName.value = aTd[3].innerHTML;
        oSort.value = aTd[4].innerHTML;
        console.log(aTd[3].innerHTML);
        //alert(i);

    }
    //更新功能
    function update(){
        var oDictId = document.getElementById('dictId');
        var oType = document.getElementById('type');
        var oCode = document.getElementById('code');
        var oName= document.getElementById('name');
        var oSort = document.getElementById('sort');
        var oMytable = document.getElementById('mytable');
        //alert(rowIndex);
        //var aTd = rowIndex.cells;
        console.log(oMytable.rows[rowIndex].cells)
        oMytable.rows[rowIndex].cells[0].innerHTML = oDictId.value;
        oMytable.rows[rowIndex].cells[1].innerHTML = oType.value;
        oMytable.rows[rowIndex].cells[2].innerHTML = oCode.value;
        oMytable.rows[rowIndex].cells[3].innerHTML = oName.value;
        oMytable.rows[rowIndex].cells[4].innerHTML = oSort.value;
    }
</script>



</body>
</html>