<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>数据字典</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}" href="../../static/css/reset.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/userManagePage.css}" href="../../static/css/userManagePage.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/userEdit.css}"href="../../static/css/userEdit.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/dictpop.css}"href="../../static/css/dictpop.css">

</head>

<body>

<div class="nav">
    <h2>数据字典</h2>
    <a href="userManagePage.html" class="jump">用户管理</a>
    <a href="resourceStore.html" class="jump">资源存储</a>
    <div class="r_nav">
        <form th:action="@{/dict/search}"  method="post" >
            <input type="text" placeholder="请输入类型" name="type" class="search">
            <input type="submit" value="搜索" class="button" >
        </form>
    </div>

</div>


<div class="table">
    <table class="table1">
        <thead><tr>
            <th>序号</th>
            <th>字典名称</th>
            <th>属性编码</th>
            <th>属性名称</th>
            <th>属性排序</th>
            <th>属性状态</th>
            <th>管理</th>
        <th><a  name="popBox" style="cursor:pointer;" onclick="popBox()" th:href="@{dict/create}">添加</a></th></tr>
        </thead>
        <tbody>
        <tr th:each="dict,iterStat:${dicts}">
            <td th:text="${iterStat.count}">1</td>
            <td th:text="${dict.type}">2</td>
            <td th:text="${dict.code}">3</td>
            <td th:text="${dict.name}">4</td>
            <td th:text="${dict.sort}">5</td>
            <td th:text="${dict.status.desc}">6</td>
            <td> <a th:href="@{/dict/forbid(id=${dict.dictId})}" th:text="(${dict.status.value()}=='1')?'禁用':'启用'">7</a> |  <a th:href="@{/dict/update(id=${dict.dictId})}">编辑</a>
            </td>
            <td><a th:href="@{/dict/delete(id=${dict.dictId})}" class="cla_delete">删除</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div id="popLayer">

</div>

<div class="outside" id="popBox">
    <div class="close">
        <a href="javascript:void(0)" onclick="closeBox()">关闭</a>
    </div>
    <div class="tips">
        数据字典
    </div>
    <form th:method="post" th:action="@{/dict/action}" >
        <input type="hidden" name="op" th:value="${action}">
        <!--<input type="hidden" name="dictId" th:value="*{dictId}">-->
        <table class="infor">
            <tr>
                <td><label for="username">字典名称：</label></td>
                <td><input type="text" name="type" th:value="*{type}" id="username" class="border"></td>
            </tr>
            <tr>
                <td><label for="password">属性编码：</label></td>
                <td><input  type="text" name="code" th:value="*{code}" id="password" class="border"/></td>
            </tr>
            <tr>
                <td><label for="age">属性名称：</label></td>
                <td><input  type="text"  th:value="*{name}"  name="name"  id="age" class="border"/></td>
            </tr>
            <tr th:if="${action}=='update'">
                <td><label for="tel">属性排序：</label></td>
                <td><input  type="text"  name="sort"  th:value="*{sort}" id="tel" class="border"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" name="" value="提交" class="submit" /></td>
            </tr>
        </table>

    </form>



</div>

<script>
    /*点击弹出按钮*/
    function popBox() {
        var popBox = document.getElementById("popBox");
        var popLayer = document.getElementById("popLayer");
        popBox.style.display = "block";
        popLayer.style.display = "block";
    };

    /*点击关闭按钮*/
    function closeBox() {
        var popBox = document.getElementById("popBox");
        var popLayer = document.getElementById("popLayer");
        popBox.style.display = "none";
        popLayer.style.display = "none";
    }
</script>



</body>
</html>