<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户管理页面</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}" href="../../static/css/reset.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/userManagePage.css}" href="../../static/css/userManagePage.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/userEdit.css}"href="../../static/css/userEdit.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/pop.css}"href="../../static/css/pop.css">


</head>

<body>

<div class="nav">
    <a th:href="@{/competition}" class="jump">文章管理</a>
    <a th:href="@{/dict}" class="jump">数据字典</a>
    <a th:href="@{/manager}" class="jump">用户管理</a>
    <a th:href="@{/resourceStore}" class="jump">资源存储</a>
    <a th:href="@{/category}" class="jump">栏目管理</a>


        <div class="r_nav">
            <form method="post" th:action="@{/search}"  >
                <input type="text" placeholder="请输入搜索内容" name="search" class="search">
                <input type="submit" value="搜索" class="button" >
            </form>
        </div>

</div>


<div class="table">
    <table class="table1" id="mytable">
        <tr>
            <th>姓名</th>
            <th>密码</th>
            <th>手机</th>
            <th>邮箱</th>
            <th>编辑</th>
            <th>删除</th>
            <th><a  name="popBox"   style="cursor:pointer;" onclick="popBox1()">添加</a></th>
        </tr>
        <tr th:each="user:${userList}">
            <td th:text="${user.getUserName()}">张三三三</td>
            <td th:text="${user.getUserPwd()}">密码密码密码</td>
            <td th:text="${user.getUserPhone()}">手机手机手机手机</td>
            <td th:text="${user.getUserEmail()}">邮箱邮箱邮箱邮箱邮箱</td>

            <td><a  name="popBox"  style="cursor:pointer;" onclick="popBox();modify(this)">编辑</a></td>
            <td><a href="#" th:href="@{/delete}+'?userId='+${user.getUserId()}">删除</a></td>
        </tr>
    </table>
</div>


<!-- 编辑更新 -->
<div id="popLayer">

</div>

<div class="outside" id="popBox">
            <div class="close">
                <a href="javascript:void(0)" onclick="closeBox()">关闭</a>
            </div>
            <div class="tips">
            个人资料编辑
            </div>
        <form action="#" th:action="@{/update}" method="post">
            <input type="hidden" name="id" value="" />
            <table class="infor">
                <tr>
                    <td><label for="username" >姓名：</label></td>
                    <td><input  type="text"  name="userName" id="username" class="border"/></td>
                </tr>
                <tr>
                    <td><label for="password">密码：</label></td>
                    <td><input  type="text"  name="userPwd" id="password" class="border"/></td>
                </tr>
                <tr>
                    <td><label for="tel">手机：</label></td>
                    <td><input  type="text"  name="userPhone" id="tel" class="border"/></td>
                </tr>
                <tr>
                    <td><label for="email">邮箱：</label></td>
                    <td><input  type="text"  name="userEmail" id="email" class="border"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="button" value="更新"  class="submit" id=""  onclick="update();closeBox()" /></td>
                </tr>
            </table>

        </form>

</div>


<!-- 添加-->
<div class="outside" id="popBox1">
    <div class="close">
        <a href="javascript:void(0)" onclick="closeBox1()">关闭</a>
    </div>
    <div class="tips">
        添加用户
    </div>
    <form action="#" th:action="@{/save}" method="post">
        <table class="infor">
            <tr>
                <td><label for="username" >姓名：</label></td>
                <td><input  type="text"  name="userName"  class="border"/></td>
            </tr>
            <tr>
                <td><label for="password">密码：</label></td>
                <td><input  type="text"  name="userPwd" class="border"/></td>
            </tr>
            <tr>
                <td><label for="tel">手机：</label></td>
                <td><input  type="text"  name="userPhone"  class="border"/></td>
            </tr>
            <tr>
                <td><label for="email">邮箱：</label></td>
                <td><input  type="text"  name="userEmail" class="border"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" name="" value="提交" class="submit" /></td>
            </tr>
        </table>

    </form>

</div>

<!-- 添加结束 -->


<script th:inline="javascript">
    /*点击弹出按钮*/
    function popBox() {
        var popBox = document.getElementById("popBox");
        var popLayer = document.getElementById("popLayer");
        popBox.style.display = "block";
        popLayer.style.display = "block";

    }

    /*点击关闭按钮*/
    function closeBox() {
        var popBox = document.getElementById("popBox");
        var popLayer = document.getElementById("popLayer");
        popBox.style.display = "none";
        popLayer.style.display = "none";
    }

    function popBox1() {
        var popBox = document.getElementById("popBox1");
        var popLayer = document.getElementById("popLayer");
        popBox.style.display = "block";
        popLayer.style.display = "block";
    }

    function closeBox1() {
        var popBox = document.getElementById("popBox1");
        var popLayer = document.getElementById("popLayer");
        popBox.style.display = "none";
        popLayer.style.display = "none";
    }

    /*编辑传输数据到pop*/
    function modify(obj){
        var oUser = document.getElementById('username');
        var oPwd = document.getElementById('password');
        var oTel = document.getElementById('tel');
        var oEmail = document.getElementById('email');
        var oTr = obj.parentNode.parentNode;
        var aTd = oTr.getElementsByTagName('td');
        rowIndex = obj.parentNode.parentNode.rowIndex;
        oUser.value = aTd[0].innerHTML;
        oPwd.value = aTd[1].innerHTML;
        oTel.value = aTd[2].innerHTML;
        oEmail.value = aTd[3].innerHTML;
        console.log(aTd[3].innerHTML);
        //alert(i);

    }
    //更新功能
    function update(){
        var oUser = document.getElementById('username');
        var oPwd = document.getElementById('password');
        var oTel = document.getElementById('tel');
        var oEmail = document.getElementById('email');
        var oMytable = document.getElementById('mytable');
        //alert(rowIndex);
        //var aTd = rowIndex.cells;
        console.log(oMytable.rows[rowIndex].cells)
        oMytable.rows[rowIndex].cells[0].innerHTML = oUser.value;
        oMytable.rows[rowIndex].cells[1].innerHTML = oPwd.value;
        oMytable.rows[rowIndex].cells[2].innerHTML = oTel.value;
        oMytable.rows[rowIndex].cells[3].innerHTML = oEmail.value;
    }

</script>



</body>
</html>