<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户管理页面</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}" href="../../static/css/reset.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/userManagePage.css}" href="../../static/css/userManagePage.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/userEdit.css}"href="../../static/css/userEdit.css">


</head>

<body>

<div class="nav">
       <h2>用户管理界面</h2>
       <a href="dict.html" class="jump">数据字典</a>
       <a href="resourceStore.html" class="jump">资源存储</a>

        <div class="r_nav">
            <form method=""th:method="@{/search}" name="" >
                <input type="text" placeholder="请输入搜索内容" class="search">
                <input type="submit" value="搜索" class="button" >
            </form>
        </div>

</div>


<div class="table">
    <table class="table1" >
        <tr>
            <th>姓名</th>
            <th>密码</th>
            <th>手机</th>
            <th>邮箱</th>
            <th>编辑</th>
            <th>删除</th>
            <th><a  name="popBox"   style="cursor:pointer;" onclick="popBox()">添加</a></th>
        </tr>
        <tr th:each="user:${userList}">
            <td th:text="${user.getUserName()}">张三三三</td>
            <td th:text="${user.getUserPwd()}">密码密码密码</td>
            <td th:text="${user.getUserPhone()}">手机密码密码密码密码</td>
            <td th:text="${user.getUserEmail()}">邮箱密码密码密码密码</td>

            <td><a  name="popBox"  style="cursor:pointer;" onclick="popBox()">编辑</a></td>
            <td><a href="#" th:href="@{/delete}+'?userId='+${user.getUserId()}">删除</a></td>

        </tr>
    </table>
</div>
<div id="popLayer">

</div>

<div class="outside" id="popBox">
            <div class="close">
                <a href="javascript:void(0)" onclick="closeBox()">关闭</a>
            </div>
            <div class="tips">
            个人资料卡
            </div>
        <form action="#" th:action="@{/save}" method="post">
            <table class="infor">
                <tr>
                    <td><label for="username" >姓名：</label></td>
                    <td><input  type="text"  name="userName" id="username" class="border"/></td>
                </tr>
                <tr>
                    <td><label for="password">密码：</label></td>
                    <td><input  type="text"  name="userPwd" id="password" class="border"/></td>
                </tr>
                <tr>
                    <td><label for="tel">手机：</label></td>
                    <td><input  type="text"  name="userPhone" id="tel" class="border"/></td>
                </tr>
                <tr>
                    <td><label for="email">邮箱：</label></td>
                    <td><input  type="text"  name="userEmail" id="email" class="border"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="" value="提交" class="submit" /></td>
                </tr>
            </table>

        </form>



</div>

<script>
    /*点击弹出按钮*/
    function popBox() {
        var popBox = document.getElementById("popBox");
        var popLayer = document.getElementById("popLayer");
        popBox.style.display = "block";
        popLayer.style.display = "block";
    };

    /*点击关闭按钮*/
    function closeBox() {
        var popBox = document.getElementById("popBox");
        var popLayer = document.getElementById("popLayer");
        popBox.style.display = "none";
        popLayer.style.display = "none";
    }
</script>



</body>
</html>